.Container {
  width: 100dvw;
  height: 100dvh;

  overflow: hidden;

  display: grid;
  grid-template-columns: max-content 1fr;
}

.SettingsBox {
  min-width: 25dvw;
  max-width: 50dvw;

  background: #252525;
  color: #ffffff;

  border-right: 1px solid #7a7a7a;
}

.Settings {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 1rem;
}

.Items {
  background: #585858;
  width: 50dvw;
  height: 100dvh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;

    @media screen and (min-width: 860px) {
      width: 8px;
    }
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 16px;
    background: #3f3f3f;
  }
}

.Spinner {
  padding-top: 42px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.Error {
  width: 100%;
  height: 100%;

  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  gap: 20px;

  span {
    font-size: 20px;
  }
  
  button {
    max-width: 300px;

    border-radius: 12px;
    border: 0;
    outline: 0;
    background: #000;
  }
}